# Pre-Processing and Training Data

In [149]:
import pandas as pd
import numpy as np
import os
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import __version__ as sklearn_version
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression
import datetime

from library.sb_utils import save_file

In [150]:
# import data
wnv = pd.read_csv('../data/WestNileVirus_cleaned.csv')
wnv.head().T

,0,1,2,3,4
Trap,T001,T001,T001,T001,T001
Block,40,40,40,40,40
Latitude,41.953705,41.953705,41.953705,41.953705,41.953705
Longitude,-87.733974,-87.733974,-87.733974,-87.733974,-87.733974
Date,2007-06-26,2007-07-11,2007-07-18,2007-08-01,2007-08-01
Species,CULEX PIPIENS/RESTUANS,CULEX PIPIENS/RESTUANS,CULEX PIPIENS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS
AddressAccuracy,8,8,8,8,8
NumMosquitos,1,1,1,1,3
Tmax,91.5,77.0,85.0,91.5,91.5
Tmin,71.5,62.5,69.0,69.0,69.0
Tavg,81.5,69.75,77.0,80.25,80.25
Depart,10.0,-3.0,3.0,8.0,8.0
DewPoint,69.0,51.0,68.5,62.5,62.5
WetBulb,72.0,59.0,71.0,69.5,69.5
Heat,0.0,0.0,0.0,0.0,0.0
Cool,16.5,5.0,12.0,15.5,15.5
Sunrise,418.0,426.0,432.0,445.0,445.0
Sunset,1931.0,1928.0,1924.0,1911.0,1911.0
SnowFall,0.0,0.0,0.0,0.0,0.0
PrecipTotal,0.0805,0.0,1.235,0.0,0.0
StnPressure,29.42,29.255,29.145,29.315,29.315
SeaLevel,30.1,29.925,29.835,29.99,29.99
ResultSpeed,6.7,8.95,9.7,2.8,2.8
ResultDir,21.5,30.0,24.0,11.0,11.0
AvgSpeed,7.6,11.05,10.35,3.9,3.9
WnvPresent,0,0,0,0,0
Month,6,7,7,8,8
Year,2007,2007,2007,2007,2007
Day,26,11,18,1,1

In [151]:
wnv.SnowFall.unique()

array([0.   , 0.001])

In [152]:
# convert 'Date' column to datetime
wnv['Date'] = pd.to_datetime(wnv['Date'], format="%Y/%m/%d")

In [153]:
wnv.dtypes

Trap                       object
Block                       int64
Latitude                  float64
Longitude                 float64
Date               datetime64[ns]
Species                    object
AddressAccuracy             int64
NumMosquitos                int64
Tmax                      float64
Tmin                      float64
Tavg                      float64
Depart                    float64
DewPoint                  float64
WetBulb                   float64
Heat                      float64
Cool                      float64
Sunrise                   float64
Sunset                    float64
SnowFall                  float64
PrecipTotal               float64
StnPressure               float64
SeaLevel                  float64
ResultSpeed               float64
ResultDir                 float64
AvgSpeed                  float64
WnvPresent                  int64
Month                       int64
Year                        int64
Day                         int64
dtype: object

In the EDA section, we determined that the `Heat`, `SnowFall` and `PrecipTotal` did not give us useful insights. We will be dropping these columns. 

We also split the `Date` column into individual `Year`, `Month` and `Day` columns so we can drop the `Date` column. We will also drop the `Day` column.

In [154]:
# drop 'Year' and 'Day' columns
columns_to_drop = ['Date', 'Heat', 'SnowFall', 'PrecipTotal', 'Day']
wnv = wnv.drop(columns_to_drop, axis=1)

### One-Hot Encode Categorical Columns

Next we want to one-hot encode the categorical variables.

In [155]:
categorical_cols = ['Trap', 'Block', 'Species', 'AddressAccuracy', 'Month', 'Year']

In [156]:
wnv = pd.get_dummies(wnv, columns=categorical_cols)

In [157]:
wnv.head().T

                      0          1          2          3          4
Latitude      41.953705  41.953705  41.953705  41.953705  41.953705
Longitude    -87.733974 -87.733974 -87.733974 -87.733974 -87.733974
NumMosquitos   1.000000   1.000000   1.000000   1.000000   3.000000
Tmax          91.500000  77.000000  85.000000  91.500000  91.500000
Tmin          71.500000  62.500000  69.000000  69.000000  69.000000
...                 ...        ...        ...        ...        ...
Month_10       0.000000   0.000000   0.000000   0.000000   0.000000
Year_2007      1.000000   1.000000   1.000000   1.000000   1.000000
Year_2009      0.000000   0.000000   0.000000   0.000000   0.000000
Year_2011      0.000000   0.000000   0.000000   0.000000   0.000000
Year_2013      0.000000   0.000000   0.000000   0.000000   0.000000

[241 rows x 5 columns]

### Normalize Quatitative Columns

In [158]:
list(wnv.columns)

['Latitude',
 'Longitude',
 'NumMosquitos',
 'Tmax',
 'Tmin',
 'Tavg',
 'Depart',
 'DewPoint',
 'WetBulb',
 'Cool',
 'Sunrise',
 'Sunset',
 'StnPressure',
 'SeaLevel',
 'ResultSpeed',
 'ResultDir',
 'AvgSpeed',
 'WnvPresent',
 'Trap_T001',
 'Trap_T002',
 'Trap_T003',
 'Trap_T004',
 'Trap_T005',
 'Trap_T006',
 'Trap_T007',
 'Trap_T008',
 'Trap_T009',
 'Trap_T009A',
 'Trap_T011',
 'Trap_T012',
 'Trap_T013',
 'Trap_T014',
 'Trap_T015',
 'Trap_T016',
 'Trap_T017',
 'Trap_T018',
 'Trap_T019',
 'Trap_T025',
 'Trap_T027',
 'Trap_T028',
 'Trap_T030',
 'Trap_T031',
 'Trap_T033',
 'Trap_T034',
 'Trap_T035',
 'Trap_T035A',
 'Trap_T036',
 'Trap_T037',
 'Trap_T039',
 'Trap_T040',
 'Trap_T043',
 'Trap_T044',
 'Trap_T045',
 'Trap_T046',
 'Trap_T047',
 'Trap_T048',
 'Trap_T049',
 'Trap_T050',
 'Trap_T051',
 'Trap_T054',
 'Trap_T054C',
 'Trap_T060',
 'Trap_T061',
 'Trap_T062',
 'Trap_T063',
 'Trap_T065',
 'Trap_T066',
 'Trap_T067',
 'Trap_T069',
 'Trap_T070',
 'Trap_T071',
 'Trap_T072',
 'Trap_T073',
 'Trap_T074',
 'Trap_T075',
 'Trap_T076',
 'Trap_T077',
 'Trap_T078',
 'Trap_T079',
 'Trap_T080',
 'Trap_T081',
 'Trap_T082',
 'Trap_T083',
 'Trap_T084',
 'Trap_T085',
 'Trap_T086',
 'Trap_T088',
 'Trap_T089',
 'Trap_T090',
 'Trap_T091',
 'Trap_T092',
 'Trap_T094',
 'Trap_T094B',
 'Trap_T095',
 'Trap_T096',
 'Trap_T097',
 'Trap_T099',
 'Trap_T100',
 'Trap_T102',
 'Trap_T103',
 'Trap_T107',
 'Trap_T114',
 'Trap_T115',
 'Trap_T128',
 'Trap_T129',
 'Trap_T135',
 'Trap_T138',
 'Trap_T141',
 'Trap_T142',
 'Trap_T143',
 'Trap_T144',
 'Trap_T145',
 'Trap_T146',
 'Trap_T147',
 'Trap_T148',
 'Trap_T149',
 'Trap_T150',
 'Trap_T151',
 'Trap_T152',
 'Trap_T153',
 'Trap_T154',
 'Trap_T155',
 'Trap_T156',
 'Trap_T157',
 'Trap_T158',
 'Trap_T159',
 'Trap_T160',
 'Trap_T161',
 'Trap_T162',
 'Trap_T200',
 'Trap_T206',
 'Trap_T209',
 'Trap_T212',
 'Trap_T215',
 'Trap_T218',
 'Trap_T219',
 'Trap_T220',
 'Trap_T221',
 'Trap_T222',
 'Trap_T223',
 'Trap_T224',
 'Trap_T225',
 'Trap_T226',
 'Trap_T227',
 'Trap_T228',
 'Trap_T229',
 'Trap_T230',
 'Trap_T231',
 'Trap_T232',
 'Trap_T233',
 'Trap_T235',
 'Trap_T236',
 'Trap_T237',
 'Trap_T238',
 'Trap_T900',
 'Trap_T903',
 'Block_10',
 'Block_11',
 'Block_12',
 'Block_13',
 'Block_14',
 'Block_15',
 'Block_17',
 'Block_18',
 'Block_20',
 'Block_21',
 'Block_22',
 'Block_24',
 'Block_25',
 'Block_27',
 'Block_28',
 'Block_29',
 'Block_30',
 'Block_33',
 'Block_34',
 'Block_35',
 'Block_36',
 'Block_37',
 'Block_38',
 'Block_39',
 'Block_40',
 'Block_41',
 'Block_42',
 'Block_43',
 'Block_45',
 'Block_46',
 'Block_47',
 'Block_48',
 'Block_49',
 'Block_50',
 'Block_51',
 'Block_52',
 'Block_53',
 'Block_55',
 'Block_58',
 'Block_60',
 'Block_61',
 'Block_62',
 'Block_63',
 'Block_64',
 'Block_65',
 'Block_66',
 'Block_67',
 'Block_68',
 'Block_70',
 'Block_71',
 'Block_72',
 'Block_73',
 'Block_75',
 'Block_77',
 'Block_79',
 'Block_80',
 'Block_81',
 'Block_82',
 'Block_89',
 'Block_90',
 'Block_91',
 'Block_93',
 'Block_96',
 'Block_98',
 'Species_CULEX ERRATICUS',
 'Species_CULEX PIPIENS',
 'Species_CULEX PIPIENS/RESTUANS',
 'Species_CULEX RESTUANS',
 'Species_CULEX SALINARIUS',
 'Species_CULEX TARSALIS',
 'Species_CULEX TERRITANS',
 'AddressAccuracy_3',
 'AddressAccuracy_5',
 'AddressAccuracy_8',
 'AddressAccuracy_9',
 'Month_5',
 'Month_6',
 'Month_7',
 'Month_8',
 'Month_9',
 'Month_10',
 'Year_2007',
 'Year_2009',
 'Year_2011',
 'Year_2013']

In [159]:
quant_columns = ['Latitude', 'Longitude', 'NumMosquitos', 'Tmax', 'Tmin', 'Tavg', 'Depart',
                 'DewPoint', 'WetBulb', 'Cool', 'Sunrise', 'Sunset', 'StnPressure',
                 'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed',]

In [160]:
# scale continiuous variables
scaler = StandardScaler()
scaler.fit(wnv[quant_columns])
wnv[quant_columns] = scaler.transform(wnv[quant_columns])

### Train/Test Split

In [161]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(wnv.drop(columns='WnvPresent'), 
                                                    wnv.WnvPresent, test_size=0.3, 
                                                    random_state=47)

In [162]:
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(6027, 240) (6027,) (2583, 240) (2583,)

### Save new .csv file

In [ ]:
# save data to a new .csv file
#datapath = '../data'
#save_file(wnv, 'wnv.csv', datapath)